.question__wrapper {
  background-color: #8e9e90;
}

.question__title {
  text-align: center;
  color: white;
  font-size: 20px;
}

.buttonGroup > button{
  background-color: #927a67;
  border: #8e9e90;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:active {
  background-color: #8e9e90;
  transition: 1s;
  opacity: 0.3;
}